<!-- <div>
    <div>
        <h2>{{randomNationName | uppercase}}</h2>
        <span style="width:10em; line-height: 10em"
              class="flag-icon flag-icon-{{randomNationCode | lowercase}}"></span>
    </div>
    <input type="text"
           [(ngModel)]="myGuess"
           placeholder="Country name">
    <button (click)="next()">Fire!</button>
    <h2 *ngIf="myGuess && myGuess===randomNationName">Correct guess!</h2>
</div> -->

<h2>European countries</h2>
<div *ngIf="selectedFlag">
    <h2>{{selectedFlag.name | uppercase}}</h2>
    <div><span>Alpha code: </span>{{selectedFlag.code}}</div>
</div>

<ul class="flags">
    <li [class.selected]="flag === selectedFlag"
        *ngFor="let flag of flags"
        (click)="onSelect(flag)">
        <span class="badge">{{flag.name}}</span>
    </li>
</ul>